.speaker {
  display: block;
  padding-top: 15%;
}

.speaker span {
  font-weight: normal;
  font-size: 0.9em;
}

footer {
  margin-top: 10%;
}

@media screen and (min-width: 30em) {
  .speaker {
    padding-top: 28%;
  }
}
